<div class="container search-page">
    <div class="row">
        <div class="col-md-8 order-1 order-md-0">
            {% for hit in searchResult.hits.hits %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ url('package', {name: hit._source.name ~ '/' }) }}">{{ hit._source.name }}</a>
                        </h5>
                        <p class="card-text">{{ hit._source.shortDescription|striptags|slice(0, 100) }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4 order-0 order-md-1">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="cart-title">Package type:</h5>
                    <ul class="list-group">
                        {% for entry in searchResult.aggregations.types.aggs.buckets %}
                        <li class="list-group-item d-flex justify-content-between align-items-center{% if entry.key in selectedTypes %} active{% endif %}" data-filter-name="types" data-filter-value="{{ entry.key }}">
                            {{ entry.key }}
                            <span class="badge bg-secondary">{{ entry.doc_count }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="cart-title">Producer:</h5>
                    <ul class="list-group">
                        {% for entry in searchResult.aggregations.producers.buckets %}
                            <li class="list-group-item d-flex justify-content-between align-items-center{% if entry.key in selectedProducers %} active{% endif %}" data-filter-name="producers" data-filter-value="{{ entry.key }}">
                                {{ entry.key }}
                                <span class="badge bg-secondary">{{ entry.doc_count }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
