<div class="container search-page">
    <div class="row">
        <div class="col-md-8 order-1 order-md-0">
            {% for hit in searchResult.hits %}
                {% include "includes/package-card.html.twig" with {'package': hit} %}
            {% endfor %}
        </div>
        <div class="col-md-4 order-0 order-md-1">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="cart-title">Package type:</h5>
                    {% if searchResult.facetsDistribution is defined %}
                        <ul class="list-group">
                            {% for key, val in searchResult.facetsDistribution.types %}
                                {% if val > 0 %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center{% if key in selectedTypes %} active{% endif %}" data-filter-name="types" data-filter-value="{{ key }}">
                                        {{ key }}
                                        <span class="badge bg-secondary">{{ val }}</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="cart-title">Producer:</h5>
                    <ul class="list-group">
                        {% if searchResult.facetsDistribution is defined %}
                            {% for key, val in searchResult.facetsDistribution.producerName %}
                                {% if val > 0 %}
                                <li class="list-group-item d-flex justify-content-between align-items-center{% if key in selectedProducers %} active{% endif %}" data-filter-name="producers" data-filter-value="{{ key }}">
                                    {{ key}}
                                    <span class="badge bg-secondary">{{ val }}</span>
                                </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
