{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-3">
        <h1>
            My packages
            <button type="button" class="btn bg-warning mb-2" data-toggle="modal" data-target="#setup">
                Setup Repository in Project
            </button>
        </h1>

        <div class="card mb-2">
            <div class="card-body">
                <p class="card-text">
                    <b>Company:</b> {{ company }} (<a href="{{ url('company-selection') }}">change</a>)<br>
                    <b>Domain:</b> {{ shop.domain }}
                </p>
            </div>
        </div>

        {% for package in packages %}
            {% include "includes/package-card.html.twig" %}
        {% endfor %}
    </div>

    <div class="modal" tabindex="-1" id="setup" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Setup</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Open project composer.json and add following repository</p>

<pre id="composerCmd">
"repositories": [
    {
        "type": "composer",
        "url": "{{ url('home') }}",
        "options": {
            "http": {
                "header": [
                    "Token: {{ token }}"
                ]
            }
        }
    }
]
</pre>
                    <p>
                        <button class="btn btn-copy btn-primary" data-clipboard-target="#composerCmd">Copy config</button>
                    </p>
                    <div class="alert alert-info">Please note that you will need to come back to update the token in your composer.json if...:
                        <ul>
                            <li> you changed your password </li>
                            <li> you changed the domain </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
