{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-3">
        <h1>My packages</h1>

        <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#setup">
            Setup Repository in Project
        </button>

        {% for package in packages %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ url('package', {name: package.composerName ~ '/'}) }}">{{ package.composerName }}</a>
                    </h5>
                    <p class="card-text">{% if package.shortDescription %}{{ package.shortDescription }}{% else %}{{ package.name }}{% endif %}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="modal" tabindex="-1" id="setup" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Setup</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Open project composer.json and add following repository</p>

<pre id="composerCmd">
"repositories": [
    {
        "type": "composer",
        "url": "https://packages.friendsofshopware.com/",
        "options": {
            "http": {
                "header": [
                    "Token: {{ token }}"
                ]
            }
        }
    }
]
</pre>
                    <p>
                        <button class="btn btn-copy btn-primary" data-clipboard-target="#composerCmd">Copy config</button>
                    </p>
                    <p>Now you can use any composer package directly in your composer cli</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
