{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-3">
        <h1>
            My packages
            <button type="button" class="btn bg-warning mb-2" data-toggle="modal" data-target="#setup">
                Setup Repository in Project
            </button>
        </h1>

        <div class="card mb-2">
            <div class="card-body">
                <p class="card-text">
                    <b>Company:</b> {{ company }} (<a href="{{ url('company-selection') }}">change</a>)<br>
                    <b>Domain:</b> {{ shop.domain }}
                </p>
            </div>
        </div>

        {% for package in packages %}
            {% include "includes/package-card.html.twig" %}
        {% endfor %}
    </div>

    <div class="modal" tabindex="-1" id="setup" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Setup</h5>
                </div>
                <div class="modal-body">
                    <ol>
                        <li>
                            <p>Run this command in shopware-root to register Packages as repository into the composer.json.</p>

<pre id="composerCmd">
composer config repositories.froshpackages '{"type": "composer", "url": "{{ url('home') }}"}'
</pre>
                            <p>
                                <button class="btn btn-copy btn-primary" data-clipboard-target="#composerCmd">Copy command</button>
                            </p>
                        </li>
                        <li>
                            <p>Run this command in shopware-root to save the credentials into the auth.json.</p>

<pre id="authJSON">
composer config bearer.{{ app.request.host }} "{{ token }}"
</pre>
                            <p>
                                <button class="btn btn-copy btn-primary" data-clipboard-target="#authJSON">Copy command</button>
                            </p>
                        </li>
                    </ol>

                    <div class="alert alert-danger">Note: Make sure the auth.json file is in .gitignore to avoid leaking credentials into your git history.</div>

                    <div class="alert alert-info">Please note that you will need to come back to update the token in your auth.json if...:
                        <ul>
                            <li> you changed your password </li>
                            <li> you changed the domain </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
