<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Home - FriendsOfShopware Packages{% endblock %}</title>
        <meta name="description" content="{% block description %}The Shopware Package Repository{% endblock %}">
        <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:description" content="{{ block('description') }}">
        <meta property="og:image" content="{{ absolute_url(asset('Frosh_rgb.svg')) }}">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
        <meta property="twitter:title" content="{{ block('title') }}">
        <meta property="twitter:description" content="{{ block('description') }}">
        <meta property="twitter:image" content="{{ absolute_url(asset('Frosh_rgb.svg')) }}">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#189eff">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-lg bg-white clean-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="{{ asset('Frosh_rgb.svg')}}" width="50" alt="FriendsOfShopware"/>
                    Packages
                    <span class="badge bg-warning">Beta</span>
                </a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item{% if app.request.attributes.get('_route') == 'app_home_index' %} active{% endif %}">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item{% if app.request.attributes.get('_route') == 'browse' %} active{% endif %}">
                            <a class="nav-link" href="{{ url('browse') }}">Browse</a>
                        </li>
                        <li class="nav-item{% if app.request.attributes.get('_route') == 'search' %} active{% endif %}">
                            <a class="nav-link" href="{{ url('search') }}">Search</a>
                        </li>
                        <li class="nav-item{% if app.request.attributes.get('_route') == 'statistics' %} active{% endif %}">
                            <a class="nav-link" href="{{ url('statistics') }}">Statistics</a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item{% if app.request.attributes.get('_route') == 'account' %} active{% endif %}">
                                <a class="nav-link" href="{{ url('account') }}">My packages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('app_logout') }}">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="nav-link{% if app.request.attributes.get('_route') == 'login' %} active{% endif %}" href="{{ url('login') }}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block search_bar %}
        <div class="search-wrapper">
            <div class="container">
                <input type="text" id="searchField" class="form-control" placeholder="Search packages..." value="{{ app.request.query.get('term') }}" autofocus/>
                <div class="helpText">
                    It aggregates Shopware plugins as installable Composer packages
                </div>
            </div>
        </div>
        {% endblock %}

        <main class="page">
            <div id="search" class="pt-3" style="display: none">
            </div>

            <div id="content">
                {% block body %}{% endblock %}
            </div>
        </main>

        <footer class="text-muted">
            <div class="container">
                <p>FriendsOfShopware Packages is not associated with the shopware AG. If you have problems please submit your issues <a href="https://github.com/FriendsOfShopware/packages/issues">here</a>.</p>
                <p>Version: <a href="https://github.com/FriendsOfShopware/packages/releases" rel="noopener" target="_blank">{{ app.request.server.get('VERSION', 'dev') }}</a></p>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% if app.request.host == 'packages.friendsofshopware.com' %}
            <script async defer data-domain="packages.friendsofshopware.com" src="https://stats.fos.gg/js/plausible.js"></script>
        {% endif %}
    </body>
</html>
