<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Home - FriendsOfShopware Packages{% endblock %}</title>
        <meta name="description" content="{% block description %}The Shopware Package Repository{% endblock %}">
        <link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:description" content="{{ block('description') }}">
        <meta property="og:image" content="{{ absolute_url(asset('Frosh_rgb.svg')) }}">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
        <meta property="twitter:title" content="{{ block('title') }}">
        <meta property="twitter:description" content="{{ block('description') }}">
        <meta property="twitter:image" content="{{ absolute_url(asset('Frosh_rgb.svg')) }}">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#189eff">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/reset-min.css" integrity="sha256-t2ATOGCtAIZNnzER679jwcFcKYfLlw01gli6F6oszk8=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/algolia-min.css" integrity="sha256-HB49n/BZjuqiCtQQf49OdZn63XuKFaxcIHWf0HNKte8=" crossorigin="anonymous">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="navbar-wrapper">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/">
                        <img src="{{ asset('Frosh_rgb.svg')}}" width="50" alt="FriendsOfShopware"/>
                        Packages
                    </a>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav float-right">
                            <li class="nav-item{% if app.request.attributes.get('_route') == 'app_home_index' %} active{% endif %}">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item{% if app.request.attributes.get('_route') == 'browse' %} active{% endif %}">
                                <a class="nav-link" href="{{ url('browse') }}">Browse</a>
                            </li>
                            <li class="nav-item{% if app.request.attributes.get('_route') == 'search' %} active{% endif %}">
                                <a class="nav-link" href="{{ url('search') }}">Search</a>
                            </li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="nav-item{% if app.request.attributes.get('_route') == 'account' %} active{% endif %}">
                                    <a class="nav-link" href="{{ url('account') }}">My packages</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url('app_logout') }}">Logout</a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="nav-link{% if app.request.attributes.get('_route') == 'login' %} active{% endif %}" href="{{ url('login') }}">Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        {% block search_bar %}
        <div class="search-wrapper">
            <div class="container">
                <div id="searchContainer"></div>
                <div class="helpText">
                    It aggregates Shopware plugins as installable Composer packages. If a plugin is missing, please press login and press refresh
                </div>
            </div>
        </div>
        {% endblock %}

        <main class="bg-light">
            <div id="search" style="display: none">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <div id="hits"></div>
                            <div id="powered-by"></div>
                        </div>
                        <div class="col-4">
                            <h4>Package type:</h4>
                            <div id="search-sidebar-type"></div>
                            <h4>Producer:</h4>
                            <div id="search-sidebar-producer"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="content">
                {% block body %}{% endblock %}
            </div>
        </main>

        <footer class="text-muted">
            <div class="container">
                <p>FriendsOfShopware Packages is not associated with the shopware AG. If you have problems please submit your issues <a href="https://github.com/FriendsOfShopware/packages/issues">here</a>.</p>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
