{% extends "base.html.twig" %}

{% block title %}Browse - FriendsOfShopware Packages{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Packages</h1>

        <div class="row">
            <div class="col-12">
                <h2>New Releases</h2>

                <ul class="list-unstyled list-packages">
                    {% for package in newPackages %}
                        <li class="mb-2">
                            <a href="{{ url('package', {name: package.composerName ~ '/'}) }}">{{ package.label }}</a> <strong>v{{ package.currentVersion.version }}</strong><br>
                            <small>Name: {{ package.name }} | Composer: {{ package.composerName }}<br>
                                {{ package.shortDescription }}</small>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-12">
                <h2>Popular Packages</h2>

                <ul class="list-unstyled list-packages">
                    {% for package in popularPackages %}
                        <li>
                            <a href="{{ url('package', {name: package.name ~ '/'}) }}">{{ package.name }} <strong>({{ package.downloads }} downloads)</strong></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
