{% extends "base.html.twig" %}

{% block title %}{{ package.name }} - FriendsOfShopware Packages{% endblock %}
{% block description %}{% if package.shortDescription %}{{ package.shortDescription }}{% else %}Install easily {{ package.name }} using Composer{% endif %}{% endblock %}

{% block body %}
    <div class="container package-detail mt-3">
        <h1>{{ package.name }}</h1>

        <div class="row">
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Composer Command" id="composerCmd" readonly value="composer require {{ package.composerName }}">
                    <div class="input-group-append">
                        <button class="btn btn-copy btn-primary" data-clipboard-target="#composerCmd">Copy</button>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="cart-title">Requirements:</h5>
                        <p>
                            <ul>
                                {% for key, val in version.requireSection %}
                                    {% set url = "https://packagist.org/packages/" ~ key %}

                                    {% if 'store.shopware.com' in key %}
                                        {% set url = url('package', {name: key ~ '/'}) %}
                                    {% endif %}

                                    <li><a href="{{ url }}" rel="noopener noreferrer" target="_blank">{{ key }}</a>: {{ val }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>

                {% if package.safeDescription %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Store description</h5>
                            <p>{{ package.safeDescription|raw }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Version: {{ version.version }}</h5>
                        <p class="card-text">
                            Maintainers: {{ package.producer.name }}<br>
                            Version: {{ version.version }}<br>
                            License: {{ version.license }}<br>
                            Type: {{ version.type }}<br>
                        </p>
                        {% if version.homepage %}
                            <a href="{{ version.homepage }}" class="btn btn-primary" rel="noopener noreferrer" target="_blank">Homepage</a>
                        {% endif %}
                        {% if package.storeLink %}
                            <a href="{{ package.storeLink }}" class="btn btn-primary" rel="noopener noreferrer" target="_blank">Store page</a>
                        {% endif %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Available versions</h5>
                        <ul class="list-unstyled">
                            {% for versionLoop in package.versions %}
                                <li>
                                    <a href="?version={{ versionLoop.version }}">{{ versionLoop.version }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
