{% extends "base.html.twig" %}

{% block title %}{{ package.name }} - FriendsOfShopware Packages{% endblock %}
{% block description %}{% if package.shortDescription %}{{ package.shortDescription }}{% else %}Install easily {{ package.name }} using Composer{% endif %}{% endblock %}

{% block body %}
    <div class="container package-detail">
        <h1>{{ package.composerName }}</h1>

        <div class="row">
            <div class="col-md-8">
                <input type="text" readonly class="form-control" value="composer require {{ package.composerName }}" aria-label="Composer package">

                <h4 style="margin-top: 10px">requires:</h4>
                <ul>
                    {% for key, val in version.requireSection %}
                        {% set url = "https://packagist.org/packages/" ~ key %}

                        {% if 'store.shopware.com' in key %}
                            {% set url = url('package', {name: key ~ '/'}) %}
                        {% endif %}

                        <li><a href="{{ url }}" rel="noopener noreferrer" target="_blank">{{ key }}</a>: {{ val }}</li>
                    {% endfor %}
                </ul>

                <p>
                    {{ package.safeDescription|raw }}
                </p>
            </div>
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Version: {{ version.version }}</h5>
                        <p class="card-text">
                            Maintainers: {{ package.producer.name }}<br>
                            Version: {{ version.version }}<br>
                            License: {{ version.license }}<br>
                            Type: {{ version.type }}<br>
                        </p>
                        {% if version.homepage %}
                            <a href="{{ version.homepage }}" class="btn btn-primary" rel="noopener noreferrer" target="_blank">Homepage</a>
                        {% endif %}
                        {% if package.storeLink %}
                            <a href="{{ package.storeLink }}" class="btn btn-primary" rel="noopener noreferrer" target="_blank">Store page</a>
                        {% endif %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Available versions</h5>
                        <ul class="list-unstyled">
                            {% for versionLoop in package.versions %}
                                <li>
                                    <a href="?version={{ versionLoop.version }}">{{ versionLoop.version }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
