{% extends "base.html.twig" %}

{% block title %}Statistics - FriendsOfShopware Packages{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Statistics</h1>

        <div class="row">
            <div class="col-12">
                <h2>Packages installed in the last 30 days</h2>

                <canvas id="packagesLast30Days" width="400" height="200"></canvas>
            </div>

            {% if downloadsByMonths.length > 1 %}
                <div class="col-12">
                    <h2>Packages installed per month</h2>

                    <canvas id="packagesPerMonth" width="400" height="200"></canvas>
                </div>
            {% endif %}

            <div class="col-12">
                <h2>Total</h2>
                <p>
                    Total packages: {{ totals.packageCount|number_format(0, ',', '.') }}<br>
                    Total versions: {{ totals.versionCount|number_format(0, ',', '.') }}<br>
                    Total downloads: {{ totals.downloadCount|number_format(0, ',', '.') }}<br>
                    (Downloads are tracked since 2020-06-08)
                </p>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script>
        var ctx = document.getElementById('packagesLast30Days');
        var ctx2 = document.getElementById('packagesPerMonth');

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ downloads30Days.keys|raw }},
                datasets: [{
                    label: 'Downloads',
                    data: {{ downloads30Days.values|raw }},
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        {% if downloadsByMonths.length > 1 %}
            new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: {{ downloadsByMonths.keys|raw }},
                    datasets: [{
                        label: 'Downloads',
                        data: {{ downloadsByMonths.values|raw }},
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        {% endif %}
    </script>
{% endblock %}
