{% extends "base.html.twig" %}

{% block title %}Statistics - FriendsOfShopware Packages{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Statistics</h1>

        <div class="row">
            <div class="col-12 mb-5">
                <h2>Packages installed in the last 30 days</h2>

                {{ render_chart(downloads30Days) }}
            </div>

            <div class="col-12">
                <h2>Packages installed per month</h2>

                {{ render_chart(downloadsByMonths) }}
            </div>

            <div class="col-12">
                <h2>Total</h2>
                <p>
                    Total packages: {{ totals.packageCount|number_format(0, ',', '.') }}<br>
                    Total versions: {{ totals.versionCount|number_format(0, ',', '.') }}<br>
                    Total downloads: {{ totals.downloadCount|number_format(0, ',', '.') }}<br>
                    (Downloads are tracked since 2020-06-08)
                </p>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sf-ux') }}
{% endblock %}
