{% extends "base.html.twig" %}

{% block search_bar %}{% endblock %}


{% block body %}
    <div class="container">
        <div class="card p-2">
            <div class="cart-body">
                <h5 class="cart-title">My Account</h5>
                <p>Domain: {{ shop.domain }}<br>
                    Shopware Version: {{ shop.shopwareVersion.name }}<br>
                    Environment: {{ shop.environment.name }}
                </p>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#setup">
                    Setup Repository in Project
                </button>
            </div>
        </div>

        <div class="card p-2" style="margin-top: 10px">
            <div class="cart-body">
                <h5 class="cart-title">Available packages for you</h5>

                <div class="accordion" id="accordionExample">
                    {% for name, package in packages.packages %}
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePackage-{{ loop.index }}" aria-expanded="true" aria-controls="collapsePackage-{{ loop.index }}">
                                        {{  name  }}
                                    </button>
                                </h5>
                            </div>

                            <div id="collapsePackage-{{ loop.index }}" class="collapse{% if loop.first %} show{% endif %}" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Install it using <code>composer req {{ name }}</code></p>
                                    <p>Available in following versions: {% for version, info in package %}{{ version }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="setup" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Setup</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Open project composer.json and add following repository</p>

<pre>
"repositories": [
    {
        "type": "composer",
        "url": "https://packages.friendsofshopware.de/",
        "options": {
            "http": {
                "header": [
                    "Token: {{ token }}"
                ]
            }
        }
    }
]
</pre>
                    <p>Now you can use any composer package directly in your composer cli</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}